html,
body {
    padding: 0;
    margin: 0;
    font-size: 32px;
    font-family: 'Inter', sans-serif;
    color: $darkBlue;
    position: relative;
}

html {
    height: 100%;
}

body {
    background: url(../images/pattern-bg.svg) center top 20px no-repeat, url(../images/pattern-quotes.svg) center 55% no-repeat;
    background-size: 84%, 15%;
    min-height: 100%;
    display: grid;
    
    @include atMedium {
        background: url(../images/pattern-bg.svg) center top 12% no-repeat, url(../images/pattern-quotes.svg) center 48% no-repeat;
        background-size: 50%, 10%;
    }

    @include atLarge {
        background: url(../images/pattern-bg.svg) right 25% top 23% no-repeat, url(../images/pattern-quotes.svg) left 300px top 25% no-repeat;
        background-size: 37%, 7%;
    }
}

*, *::before, *::after {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

