html,
body {
    padding: 0;
    margin: 0;
    font-size: 32px;
    font-family: 'Inter', sans-serif;
    color: $darkBlue;

    background: url(../images/pattern-bg.svg) top no-repeat, url(../images/pattern-quotes.svg) no-repeat, url(../images/pattern-curve.svg) left bottom no-repeat;
    background-size: 73%, 10%, 80%;

}

*, *::before, *::after {
    box-sizing: border-box;
}

img {
    // width: 100%;
}

// ## Layout

// The designs were created to the following widths:

// - Mobile: 375px
// - Desktop: 1440px
