footer {
    margin: 0;
    padding: .3em;
    grid-column: 1 / -1;
    margin-top: auto;

}

.attribution { 
    font-size: .3rem; 
    text-align: center; 
    padding: 0 0 .2em 0;

    @include atMedium {
        font-size: .45rem;  
    }
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
