.slideImg {
    max-width: 300px;
    margin: 0 auto;
    box-shadow: 0 35px 25px -12px hsla(240, 38%, 20%, .2);

    @include atLarge {
        max-width: 400px;
    }
}

.arrowImg {
    z-index: 5;
    width: 10px;

    @include atLarge {
        width: 12px;
    }

    &--next {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

.curve-img {
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
    z-index: -1;
    max-width: 80%;

    @include atLarge{
        max-width: 40%;
    }
}