.slideImg {
    max-width: 300px;
    margin: 0 auto;
  

    @include atLarge {
        max-width: 100%;
        
        
    }
}

.arrowImg {
    max-width: 7px;
    // z-index: 5;
    // position: relative;
}