.slideContainer {
    width: 85%;
    margin: .85em auto;
}


.slide {
    max-width: 330px;
    margin: 0 auto;

    &_text {
        text-align: center;
        font-weight: 300;
        font-size: .5rem;
        padding: 5em 1em 0 1em;  
        margin-bottom: 0;
    }

    &_nameText {
        font-weight: 700;
        font-size: .5rem;
    }

    &_jobTitle {
        font-weight: 500;
        font-size: .5rem;
        color: $grayishBlue;
    }
}


.slideImg_area {
   position: relative;
   margin: 0 auto;
   max-width: 240px;
}

.slideControls {
    background-color: #fff;
    padding: .2em .3em;
    border-radius: 15px;
    display: flex;
    width: 70px;
    justify-content: space-between;
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    
}

.slide2 {
    display: none;
}

